header {
  align-items: center;
  justify-content: space-between;

  & a {
    all: unset;
    padding: .75rem 1.25rem;
    
    cursor: pointer;
    font: var(--button);
    border-radius: .5rem;
    color: var(--text-title);
    background-color: var(--pink-dark);
  }
}