.hero {
  gap: 3rem;
  text-align: center;
  flex-direction: column;
  
  & h1 {
    font: var(--title-lg);
    color: var(--text-title);
  }

  & p {
    font: var(--body-lg);
    color: var(--text-body);
  }

  & .texts {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
}