.text-area {
  text-align: center;
  align-items: center;
  margin-top: 23.5625rem;
  justify-content: center;
  
  position: relative;
  
  & p {
    padding: 1.25rem;
    
    font: var(--subtitle);
    color: var(--text-body);

    strong {
      color: var(--blue-light);
    }
  }

  & img {
    width: 2.5rem;
    height: 2.5rem;

    &:nth-child(1) {
      right: 20px;
      bottom: -20px;
      position: absolute;
      
      transform: rotate(15deg);
    }
    
    &:nth-child(2) {
      top: -30px;
      right: 74px;
      position: absolute;
      
      transform: rotate(15deg);
    }

    &:nth-child(3) {
      left: 14px;
      bottom: -20px;
      position: absolute;
      
      transform: rotate(15deg);
    }
  }
}

@media (width >= 80rem) {
  .text-area {
    margin-top: 33.5625rem;
    justify-content: center;
  
    & p {
      max-width: 1280px;
      padding-inline: 7.5rem;
    }

    & img {
      width: 5.5rem;
      height: 5.5rem;
  
      &:nth-child(1) {
        right: 137px;
        bottom: -50px;
        position: absolute;
        
        transform: rotate(-14deg);
        transition: transform 600ms ease;
      }
      
      &:nth-child(2) {
        top: -84px;
        left: 651px;
        position: absolute;
        
        transform: rotate(20deg);
        transition: transform 600ms ease;
      }
  
      &:nth-child(3) {
        left: 125px;
        bottom: -50px;
        position: absolute;
        
        transform: rotate(100deg);
        transition: transform 600ms ease;
      }
    }

    & img:hover {
      &:nth-child(1) {
        transform: rotate(-40deg);
        transition: transform 600ms ease;
      }
      
      &:nth-child(2) {
        transform: rotate(50deg);
        transition: transform 600ms ease;
      }
  
      &:nth-child(3) {
        transform: rotate(140deg);
        transition: transform 600ms ease;
      }
    }
  }
}